/* style.css */

.titulo{
    display: flex;
    justify-content: center;
}

.nivelito b{
    font-size: 30px;
}

.game-container {
    padding: 20px;
}

.question {
    
    margin-bottom: 15px;
}
.question .pregunta{
    font-size: 30px;
}

button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #3498db;
}

.message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.message.success {
    background-color: #2ecc71;
    color: #fff;
}

.message.error {
    background-color: #e74c3c;
    color: #fff;
}
