* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: small;
}

html {
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #2F3B44;
}
/*Estilos de la cabecera, puede ser reemplazada*/
.topBar {
    position: relative;
    background-color: #253038;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 4;
}

.bodyMenu {
    position: absolute;
    background-color: #2F3B44;
    background-image: url("./recursos/piuramapa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 85vh;
    top: 15%;
    left: 0%;
}

.levelsDispos {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: -2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBar_left {
    display: flex;
    width: 12vw;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.userProfile {
    box-sizing: border-box;
    border-radius: 2em;
    width: 4vw;
    height: auto;
    margin-right: 2vw;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}
.whitetext{
    font-size: 16px !important;
}
.coinIcon {
    width: 2vw;
    height: auto;
}

.storeIcon {
    width: 2vw;
    height: auto;
}

.topBar_right {
    display: flex;
    width: 24vw;
    height: 60%;
    justify-content: space-around;
}

.rounded {
    background: #2F3B44;
    box-sizing: border-box;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coinsPurse {
    width: 8vw;
    height: 80%;
}

.storeBtn {
    width: 10vw;
    height: 80%;
}
.storeBtn:hover{
    cursor: pointer;
}

.level {
    width: 12vw;
    height: 18vh;
    position: absolute;
}

/*Fin estilos de cabecera*/
/*Estilos del texto*/
.info-box {
    display: flex;
 
    color: white;
}

.left-info,
.right-info {
    padding: 20px;
    align-items: center;
}

.left-info{
    padding-right: -100px;
    padding-left: 80px;
}
.right-info h2{
    padding-right: 18px;
   
}
.right-info{
    display: flex;
    
}

.left-info {
    margin-right: 400px; /* Elimina el margen derecho en dispositivos pequeños */
}
.info-box .right-info .text-sede {
    text-align: center;
    background-color: #253038;
    color: white;
    width: 150px;
    display: flex;
    height: 30px;
    right: 55px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.right-info select:focus {
    outline: none; /* Elimina el borde de enfoque */
}
/*Fin estilos del texto*/

/*Estilos del producto*/
.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center; /* Centra los productos horizontalmente */
   
}

.product {
    padding: 10px;
    width:201px;
    height: 303px;

    padding: fixed;
    align-items: center;
}

.product .img-producto {
    width: 201px;
    height: 200px;

}

.product-info h2 {
   text-align: center;
}

.product-info h2 {
    width: 201px;
    height: 27px;
    font-size: 18px;
    line-height: 150%;
    color: white;
    margin-bottom: 14px;
}
.product .price-agotado{
    background-color: #1B2F3F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
}
.price-btn {
    display: flex;
    width: 210px;
    align-items: center;
    height: 48px;
    background-color: #1B2F3F;
    border: none;
    color: white;
    padding: 10px 49px;
    text-decoration: none;   
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    justify-content: center;
}
.price-btn .texto-btn{
    font-size: 16px;
    width:45 ;
    height: 23;
    font-size: 16;
    line-height: 150%;
    padding-left: 20px;
}
.price-btn .btn-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;

}

.price-btn:hover {
    background-color: #D9D9D9;
}
/*Fin estilos del producto*/


/*MOBILE TECHNIQUE FOR YOU MY LOVE*/

@media (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    .userProfile {
        box-sizing: border-box;
        border-radius: 1.5em;
        width: 8vw;
        height: auto;
        margin-right: 2vw;
    }

    .topBar_right {
        display: flex;
        width: 24vw;
        height: 60%;
        font-size: 0.7em;
        justify-content: space-around;
        flex-direction: column;
    }

    .coinsPurse {
        width: 80%;
        height: 40%;
        justify-content: space-around;
        box-sizing: border-box;
        padding-left: 15%;
        padding-right: 15%;
    }

    .coinIcon {
        width: 3.3vw;
    }

    .storeBtn {
        width: 80%;
        height: 40%;
    }

    .rounded {
        background: #2F3B44;
        box-sizing: border-box;
        border-radius: 2em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        -o-border-radius: 2em;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .topBar {
        background-color: #253038;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-left: 10vw;
        padding-right: 10vw;

        top: 0%;
        left: 0%;
        z-index: 4;
    }
}
/*Fin esitlos responsive del header*/
    
/* Estilos responsive de la informacion */
@media (max-width: 360px) {
    .info-box{
        flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando el espacio es limitado */
    }
      .left-info,
      .right-info {
          flex-basis: 100%; /* Cambia el tamaño de las cajas a 100% del ancho disponible */
          margin-right: 0; /* Elimina el margen derecho en dispositivos pequeños */
        }
        .right-info h2 {
            font-size: 18px;
        }
       .left-info{
        padding-left: 15px;
       }
       .left-info h2{
        font-size: 20px !important;
       }
       .right-info .text-sede{
        width: 100px;
        height: 32px;
        border-radius: 20;
        align-content: center;
       }

}
    /*FIn estilos responsive de informacion*/

/* Estilos responsive de los productos */
@media (max-width: 360px) {
    /* Estilos para hacerlo responsive */
    .products-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }   
    .product{
        width: 120px;
        height: 210px;
        
    }
    .price-btn {
        width:  120px; /* Ajusta el ancho del botón al 100% del contenedor del producto */
        margin-top: -10px;
        height: 40px;
        border-radius: 20;
    }
    .product-info h2{
       width: 120px;

       font-size: 12px;
    }
    .product .img-producto {
        width: 120px;
        height: 120px;

    }

    .product-info {
        width: 120px;

    }

}


/*Fin estilos responsive productos*/


