body {
    margin: 0;
    font-family: bold, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-text {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2; /* Ajusta la altura de la línea para un mejor espaciado */
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav a {
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    nav.active {
        display: flex;
    }
}

