@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.body {
    font-family: 'Lato', consolas;
    background-color: #2F3B44;
    color: #ffffff;
   
    
    height: 100vh;
    margin: 0;
}

.containe {
    border-radius: 10px;
   
}
.info{
    text-align: center;
}
.info, .pedidos {
    padding: 20px;
    width: 400px;
}

.info {
    border-right: 1px solid #ffffff;
    
}
.infor{
    font-size: large;
}
.lista{
    color: #D9D9D9;
    padding-right: 20px;
}
.pedidos .order {
    background-color: #253038;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order h3 {
    color: #828282;
    font-size: small;
}
.estado .pendiente{
    background-color: #CEC224;
}
.estado .entregado{
    background-color: #4D8440;
}
.pendiente, .entregado{
    border-radius: 10px;
}