@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    font-family: "Lato", sans-serif;
}

#content_info{
    background-color: #2F3B44;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.title{
    font-weight: bold;
    font-size: 25px;
}

.info{
    padding: 0 60px 0 60px;
    text-align: center;
    line-height: 25px;
}

.btns{
    row-gap: 10px;
    flex-direction: column;
    
}

.buttons{
    padding: 10px 30px 10px 30px;
    width: 260px;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
    border-style: none;
}

.cancel{
    background-color: #4a5b67;
}

.canje{
    background-color: #1B2F3F;
}

.dropdown-menu{
    --bs-dropdown-padding-x: 64px !important;
    --bs-dropdown-padding-y: 38px !important;
}

.dropdown-menu-dark {
    --bs-dropdown-bg: #2F3B44 !important;
}

.rounded{
    border-radius: 20px !important;
}

li {
    display: flex;
    gap: 48px;

    .icon img {
        width: 24px; /* Ajusta el tamaño del ícono */
        height: 24px;
    }

    p{
        font-family: "Lato", sans-serif;
        font-size: 18px;
    }
}