.topBar {
    color: white;
    position: absolute;
    background-color: #253038;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 4;
}

.bodyMenu {
    position: fixed;
    background-color: #2F3B44;
    background-image: url(./recursos/piuramapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    left: 0%;
    z-index: 1;
}

.topBar_left {
    display: flex;
    width: 12vw;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.userProfile {
    box-sizing: border-box;
    border-radius: 2em;
    width: 4vw;
    height: auto;
    margin-right: 2vw;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.whitetext {
    font-size: 16px !important;
}

.coinIcon {
    width: 2vw;
    height: auto;
}

.storeIcon {
    width: 2vw;
    height: auto;
}

.topBar_right {
    display: flex;
    width: 24vw;
    height: 60%;
    justify-content: space-around;
}

.rounded {
    background: #2F3B44;
    box-sizing: border-box;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coinsPurse {
    width: 8vw;
    height: 80%;
}

.storeBtn {
    width: 10vw;
    height: 80%;
}

.storeBtn:hover {
    cursor: pointer;
}

#content_info {
    background-color: #2F3B44;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.info {
    padding: 0 60px 0 60px;
    text-align: center;
    line-height: 25px;
}

.btns {
    row-gap: 10px;
    flex-direction: column;

}

.buttons {
    padding: 10px 30px 10px 30px;
    width: 260px;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
    border-style: none;
}

.cancel {
    background-color: #4a5b67;
}

.canje {
    background-color: #1B2F3F;
}

.dropdown-menu {
    --bs-dropdown-padding-x: 64px !important;
    --bs-dropdown-padding-y: 38px !important;
}

.dropdown-menu-dark {
    --bs-dropdown-bg: #2F3B44 !important;
}

.rounded {
    border-radius: 20px !important;
}

@media (max-width: 1000px) {

    .topBar_right {
        display: flex;
        width: 24vw;
        height: 60%;
        font-size: small;
        justify-content: space-around;
    }

    .coinsPurse {
        width: 11vw;
        height: 60%;
    }

    .storeBtn {
        width: 11vw;
        height: 60%;
    }

}

@media (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    .userProfile {
        box-sizing: border-box;
        border-radius: 1.5em;
        width: 8vw;
        height: auto;
        margin-right: 2vw;
    }

    .topBar_right {
        display: flex;
        width: 24vw;
        height: 60%;
        font-size: 0.7em;
        justify-content: space-around;
        flex-direction: column;
    }

    .coinsPurse {
        width: 80%;
        height: 40%;
        justify-content: space-around;
        box-sizing: border-box;
        padding-left: 15%;
        padding-right: 15%;
    }

    .coinIcon {
        width: 3.3vw;
    }

    .storeBtn {
        width: 80%;
        height: 40%;
    }

    .rounded {
        background: #2F3B44;
        box-sizing: border-box;
        border-radius: 2em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        -o-border-radius: 2em;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .topBar {
        background-color: #253038;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-left: 10vw;
        padding-right: 10vw;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 4;
    }

    .bodyMenu {
        position: fixed;
        background-color: #2F3B44;
        background-image: url(./recursos/piuramapa.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
        left: 0%;
        z-index: 1;
    }

    .levelsDispos {
        position: absolute;
        width: 100vw;
        height: 250vh;
        z-index: 2;
        top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .bodyMenu {
        background-image: url(./recursos/piuramapamobile.png);
    }
}