/* styles.css */

body {
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #2F3B44;
    overflow: hidden; /* Avoid scrollbars */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left; /* Align text to the left */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    width: 100%;
    border: none;
}

.input-container input,
button {
    width: 100%;
    max-width: 460px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #D9D9D9;
    border: none;
    color: #1B2F3F;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #b0b0b0;
}

#message, #regMessage {
    margin-top: 10px;
}

.logo {
    width: 280px;
    
}

.contenedor-datos {
    width: 60%;
    margin: 0 auto;
    text-align: left; /* Align text to the left */
}

#logo-bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: #2F3B44;
    width: 50%;
    float: left;
    overflow: hidden; /* Ensure no overflow */
    padding: 20px; /* Add padding for some space around the image */
}

#logo-bienvenida img {
    width: 80%; /* Reduce width to 80% */
    height: auto;
    max-height: 80vh; /* Ensure the image doesn't overflow vertically */
    object-fit: cover; /* Cover the container without stretching */
}

#login {
    width: 50%;
    float: right;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28343c;
}

@media screen and (max-width: 990px) {
    #logo-bienvenida {
        display: none;
    }

    #login {
        width: 100%;
    }
}

.info-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #6c757d;
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}

#forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#forgot-password a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#forgot-password a:hover {
    text-decoration: underline;
}

.tenue {
    color: #828282;
    text-align: left; /* Align text to the left */
}

.texto-blanco {
    color: white;
    font-weight: 400;
    text-align: left; /* Align text to the left */
}

h2, .logo {
    text-align: left; /* Align the heading and logo to the left */
  
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 460px;
    box-sizing: border-box;
}
